:root {
  --primary-color-light: #f0f0f0;
  --secondary-color-light: #ffffff;
  --text-color-light: #333;
  --hover-color-light: #ddd;
  --button-bg-light: #e0e0e0;
  --button-hover-light: #ccc;
  --sidebar-bg-light: #ffffff;

  --primary-color-dark: #1e1e1e;
  --secondary-color-dark: #2e2e2e;
  --text-color-dark: #f0f0f0;
  --hover-color-dark: #555;
  --button-bg-dark: #333;
  --button-hover-dark: #444;
  --sidebar-bg-dark: #2e2e2e;
}



body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.button__altear-tema{
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
}

.nav-group__buttons{
    display: flex;     
    gap: 30px;          
    margin-top: 15px;  
    

}

.nav-group__buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    list-style-type: none;
}