<link rel="stylesheet" href="/spa-fetch-components/assets/menu.css">
<link rel="stylesheet" href="/spa-fetch-components/assets/global.css">

<header class="cabecalho">
    <a href="#" class="cabecalho__logo">Logo</a>

    <nav class="menu" data-menu>
        <button class="menu__botao" aria-label="Abrir Menu" aria-expanded="">Menu
            <span class="menu_hamburguer"></span>
        </button>

        <ul class="menu__lista">
            <li><a href="/spa-fetch-components/pages/home.html" data-link="home">Home</a></li>
            <li><a href="/spa-fetch-components/pages/sobre.html" data-link="sobre">Sobre</a></li>
            <li><a href="/spa-fetch-components/pages/produtos.html" data-link="produtos">Produtos</a></li>
            <li><a href="/spa-fetch-components/pages/portifolio.html" data-link="portifolio">Portifólio</a></li>
            <li><a href="/spa-fetch-components/pages/contato.html" data-link="contato">Contato</a></li>
        </ul>
    </nav>

</header>

<script type="module"  src="./menu.js"></script>